<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>BrainDetect - Quick and Efficient Tumor Detection System</title>

    <%- include('./../partials/header-links.ejs') %>
  </head>
  <body>
    <!-- Preloader -->
    <%- include('./../partials/preloader.ejs') %>
    <!-- End Preloader -->

    <%- include('./../partials/header.ejs') %>

    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
      <div class="container">
        <div class="bread-inner">
          <div class="row">
            <div class="col-12">
              <h2>Doctors List</h2>
              <ul class="bread-list">
                <li><a href="/">Home</a></li>
                <li><i class="icofont-simple-right"></i></li>
                <li class="active">Doctors List</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="container-fluid mt-5">
      <h2 class="mb-4">Doctor Details</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Hospital</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Specialization</th>
            <th>Joined</th>
          </tr>
        </thead>
        <tbody>
          <% doctors.forEach((doctor, idx) => { %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><a class="link" href="/youmustbeajoker/doctor/<%= doctor._id %>"><%= doctor.firstName + doctor.middleName + doctor.lastName %></a></td>
              <td><%= doctor.hospitalName %></td>
              <td><%= doctor.email %></td>
              <td><%= doctor.phone %></td>
              <td><%= doctor.specialization %></td>
              <td><%= (new Date(doctor.createdAt)).toISOString() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('./../partials/footer.ejs') %>
  </body>
</html>
