<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>BrainDetect - Quick and Efficient Malaria Detection System</title>

    <%- include('./partials/header-links.ejs') %>

    <style>
      .title {
        font-weight: bolder;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      .sub-title {
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0px;
      }
      .dp {
        height: 150px;
        width: 150px;
        object-fit: contain;
      }
      .dp-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .bio {
        margin-left: 25px;
      }
      .full-name {
        font-size: 18px;
        font-weight: normal;
        text-transform: capitalize;
      }
      .sub-bio {
        font-size: 15px;
        font-weight: 200;
        color: #4F7396;
      }
      .sub-bio-middle {
        margin: 10px 0px;
        text-transform: capitalize;
      }
      .profile-data {
        display: flex;
      }
      .profile-data div {
        width: 50%;
      }
      .profile-data div h5:nth-child(1) {
        color: #4F7396;
        font-size: 15px;
        font-weight: 200;
      }
      .profile-data div h5:nth-child(2) {
        font-size: 15px;
        font-weight: 200;
        height: 25px;
      }
      .edit-btn {
        padding: 10px 15px;
      }
      .password-container {
        display: flex;
      }
      .password-container div {
        background-color: #E8EDF2;
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 20px;
      }
      .profile-data-value {
        text-transform: capitalize;
      }
      .new-password-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
      }
      .new-password-container input {
        width: 300px;
        height: 50px;
        padding: 0px 10px;
      }
      .new-password-container {
        margin-top: 15px;
      }
      .confirm-pass {
        margin: 15px 0px;
      }
      .profile-pic-container {
        position: relative;
      }
      .profile-pic-container label{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 25px;
        color: black;
        background-color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <!-- Preloader -->
    <%- include('./partials/preloader.ejs') %>
    <!-- End Preloader -->

    <%- include('./partials/header.ejs') %>

    <div class="container" style="margin-bottom: 30px;">
      <h1 class="title">Dr. <%= profile.firstName %><%= profile.middleName ? ' ' + profile.middleName.slice(0, 1) + '. ' : ' ' %><%= profile.lastName %></h1>
      <div class="dp-container">
        <div class="profile-pic-container">
          <img id="profile-image-preview" class="dp" src="<%= profile.profileImage %>" alt="Image of Dr Jane">
          <label for="profile-image">
            <span class="fa fa-camera"></span>
          </label>
          <input type="file" id="profile-image" style="display: none;" accept="image/*"
            onchange="handleProfileImageChange()">
        </div>
        <div class="bio">
          <h4 class="full-name"><%= profile.firstName %><%= profile.middleName ? ' ' + profile.middleName+ ' ' : ' ' %><%= profile.lastName %></h4>
          <h4 class="sub-bio sub-bio-middle"><%= profile.specialization.join(', ') %>, <%= profile.hospitalName %></h4>
          <h4 class="sub-bio"><%= profile.email %>, <%= profile.phone %></h4>
        </div>
      </div>
      <h3 class="sub-title">Profile</h3>
      <hr>
      <div class="profile-data">
        <div>
          <h5>First Name</h5>
          <h5 class="profile-data-value" data-name="firstName"><%= profile.firstName %></h5>
        </div>
        <div>
          <h5>Middle Name</h5>
          <h5 class="profile-data-value" data-name="middleName"><%= profile.middleName %></h5>
        </div>
      </div>
      <hr>
      <div class="profile-data">
        <div>
          <h5>Last Name</h5>
          <h5 class="profile-data-value" data-name="lastName"><%= profile.lastName %></h5>
        </div>
        <div>
          <h5>Hospital</h5>
          <h5 class="profile-data-value" data-name="hospitalName"><%= profile.hospitalName %></h5>
        </div>
      </div>
      <hr>
      <div class="profile-data">
        <div>
          <h5>Email</h5>
          <h5 class="profile-data-value" data-name="email" style="text-transform: lowercase;"><%= profile.email %></h5>
        </div>
        <div>
          <h5>Phone</h5>
          <h5 class="profile-data-value" data-name="phone"><%= profile.phone %></h5>
        </div>
      </div>
      <hr>
      <div class="profile-data">
        <div>
          <h5>Role</h5>
          <h5><%= profile.role %></h5>
        </div>
        <div>
          <h5>Specialization</h5>
          <h5 class="profile-data-value" data-name="specialization"><%= profile.specialization.join(', ') %></h5>
        </div>
      </div>
      <br>
      <div id="success-container" class="alert alert-success capitalize hide" role="alert"></div>
      <div id="failure-container" class="alert alert-danger capitalize hide" role="alert"></div>
      <br>
      <button id="edit-profile" class="btn edit-btn" onclick="editProfile()">Edit Profile</button>
      <button id="save-changes" class="btn edit-btn hide" onclick="saveProfileChanges()">Save Changes</button>
      <br>
      <h3 class="sub-title">Password</h3>
      <div class="password-container">
        <div>
          <img src="img/lock.svg" alt="Lock Image">
        </div>
        <button class="btn edit-btn" onclick="editPassword()">Change Password</button>
      </div>
      <div id="new-password-container" class="new-password-container hide">
        <input type="password" id="new-password" placeholder="Enter a new password">
        <input class="confirm-pass" type="password" id="confirm-password" placeholder="Retype new password">
        <button id="save-pass-btn" class="btn edit-btn" onclick="savePassword()">Save Password</button>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
